@using MvcKutuphane.Models.Entity
@model List<TBL_HAREKET>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link href="~/Css/TabloRenk.css" rel="stylesheet" />

<h2>Ödünçten Geri Alınan Kitaplar</h2>

<table class="table table-bordered">
    <tr class="tablorenk">
        <th>İşlem ID</th>
        <th>Kitap Adı</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>İade Tarihi</th>
        <th>Üyenin Getirdiği Tarih</th>
        <th>İade</th>
    </tr>

    @foreach (var odn in Model)
    {
        <tr>
            <td>@odn.ID</td>
            <td>@odn.TBL_KITAP.AD</td>
            <td>@odn.TBL_UYELER.AD&nbsp @odn.TBL_UYELER.SOYAD</td>
            <td>@odn.TBL_PERSONEL.PERSONEL</td>
            <td>@Convert.ToDateTime(odn.ALISTARIH).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(odn.IADETARIH).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(odn.UYEGETIRTARIH).ToString("dd/MM/yyyy")</td>
            <td>
                <a href="/Odunc/OduncIade/@odn.ID" class="btn btn-success">Detaylar</a>
            </td>
        </tr>
    }
</table>