@using MvcKutuphane.Models.Entity
@model List<TBL_KITAP>

@{
    ViewBag.Title = "YazarKitaplar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazar : @ViewBag.dgr</h2>

<table class="table table-bordered">
    <tr style="background-color: antiquewhite">
        <th>ID</th>
        <th style="width:450px">Kitap Adı</th>
        <th>Kategori</th>
        <th>Yayınevi</th>

    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AD</td>
            <td>@x.TBL_KATEGORI.AD</td>
            <td>@x.YAYINEVI</td>
            
        </tr>
    }
</table>